@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*Tipos de fontes*/
    --fonte: 'Rubik', sans-serif;

    /*Cores dos objetos*/
    --cor_background: #2c2c2c;
    --cor_divs: #4442427c;
    --cor_dos_inputs: #41373771;
    --cor_dos_botoes: #ec9b4f;
    --cor_das_options: #9de79d;

    /*Cores das letras*/
    --cor_titulo: #ffffff;
    --cor_paragrafo: #fff; 
    --cor_restantes: #ffffff;
}

::selection {
    background-color: #000000a2;
}

::placeholder {
    color: rgba(252, 247, 247, 0.692);
}

body{
    background-color: var(--cor_background);
    
}

nav {
    background-color: var(--cor_divs);
    padding-bottom: 8px;
}

nav > img {
    padding-top: 10px;
    width: 160px;
    height: 80px;
}

#titulo {
    text-align: center;
    font-family: var(--fonte);
    color: var(--cor_titulo);
    margin: 0 auto;
}

#paragrafo_nav {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-family: var(--fonte);
    color: var(--cor_titulo);
    margin: 0 auto;
}

#agrupar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
  }
  
#form_agrupamento {
    display: flex;
    flex-direction: column;
    background-color: #686868;
    width: 700px;
    height: 70%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.span_identificacao {
    font-family: var(--fonte);
    color: #ec9b4f;
    font-size: small;
}

/* Ajuste da altura do #form_agrupamento para telas de até 1400 pixels */
@media screen and (max-width: 1400px) {
    #form_agrupamento {
        height: 90%;
        padding-bottom: 20px;
    }
}

#form_agrupamento > label, input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.label {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--fonte);
    color: var(--cor_paragrafo);
}

input {
    height: 30px;
    width: 250px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--cor_dos_inputs);
    color: whitesmoke;
    transition: 1s;
    text-align: center;
}

#select_text {
    background-color: var(--cor_dos_inputs);
    color: var(--cor_paragrafo);
    font-family: var(--fonte);
    height: 40px;
    padding: 10px;
    
}

#select_text:focus {
    background-color: var(--cor_background);
    
}

#valorescheck {
    margin-top: 20px;
}

.checkbox-group {
    display: inline-block;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.paragrafo {
    padding-bottom: 8px;
    font-family: var(--fonte);
    color: var(--cor_paragrafo);
}

.checkbox-row {
    display: flex;
    align-items: center;
}

.checkbox-row input[type="checkbox"] {
    width: 10px;
    height: 17px;
    margin-right: 10px;
    margin-left: 10px;
    margin: 5px;
}

.checkbox-row > label {
    margin-right: 5px;
    user-select: none;
}

input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 23px;
    background-color: #ffffff; /* Cor desejada para a checkbox */
    margin-right: 5px; /* Espaçamento entre a checkbox e o texto */
  }
  
  /* Estilo para a checkbox quando estiver marcada */
  input[type="checkbox"]:checked::before {
    background-color: var(--cor_das_options); /* Cor desejada para a checkbox marcada */
  }

.checkbox-row label {
    font-family: var(--fonte);
    color: var(--cor_paragrafo);
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
}
  
#gerar_pdf {
    display: block;
    margin-top: 15px;
    background: var(--cor_dos_botoes);
    color: white;
    border-style: none;
    height: 60px;
    width: 130px;
    font-family: var(--fonte);
    margin-left: auto;
    margin-right: auto;
}

#gerar_pdf:hover {
    cursor: pointer;
    background: rgb(253, 123, 123);
	border: 1px solid #eee;
    text-decoration: underline;
}

#gerar_pdf:active {
    background: #B5DEFF;
}

#rodape {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px 10px 5px 0;
    background-color: var(--cor_divs);
    color: var(--cor_restantes);
}

#rodape > small {
    font-family: var(--fonte);
    font-size: 0.8em;
}
